@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.imagem-carrossel-um, .imagem-carrossel-dois {
    object-fit: cover;
    height: 70vh;
}

.imagem-carrossel-um {
    object-position: 0 80%;
}

.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}